include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/dashboard.css')
    body
        div(id="wrapper")
            include includes/sidenav.pug
            div(id="content-wrapper" class="d-flex flex-column")
                div(id="content")
                    include includes/usernav.pug
                    div(class="container")
                        h6 Overview
                       
                        div(class="row mt-4")
                            div(class="col-lg-4 col-md-6 mb-3")
                                div(class="card stat-box")
                                    p.total New Companies
                                    div(class="d-flex justify-content-between")
                                        p(class="number") #{newCompanys}
                                        p(class="icon") 
                                            i(class="fa fa-bar-chart")
                                            i(class="fa fa-bar-chart")
                                            i(class="fa fa-bar-chart")

                            div(class="col-lg-4 col-md-6 mb-3")
                                div(class="card stat-box")
                                    p.total Approved Companies
                                    div(class="d-flex justify-content-between")
                                        p(class="number") #{approvedCompanys}
                                        p(class="icon2") 
                                            i(class="fa fa-bar-chart")
                                            i(class="fa fa-bar-chart")
                                            i(class="fa fa-bar-chart")
  
        include includes/footer.pug


