include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/style.css')
    body
        div(class="container-fluid")
            div(class="row")
                div(class="col-lg-6 chelcin_bg")
                div(class="col-lg-6")
                    .row
                        div(class="col-2")
                        div(class="col-8")
                            div(class="form_bg")
                                div(class="form_container")
                                    div(class="form_content2")
                                        p(class="chelcin_logo") Smart Waste Bin
                                        p(class="welcome_text") Please complete to create your account.
                                        form(method="POST" class="mt-4")
                                            input(type="text" name="companyName" placeholder="Company Name" class="form-control mb-3 input_text" id="schoolName" required) 
                                            div(class="row")
                                                div(class="col-sm-6 mb-3")
                                                    input(type="text" name="companyAdminName" placeholder="Admin Name" class="form-control input_text" id="schoolAdminName" required)
                                                div(class="col-sm-6 mb-3") 
                                                    input(type="text" name="companyNumber" placeholder="Office Phone Number" class="form-control input_text" id="schoolNumber" required)
                                            input(type="email" name="companyEmail" placeholder="Email" class="form-control mb-3 input_text" id="schoolEmail" required) 
                                            p.text-little#d-e
                                            div(class="row")
                                                div(class="col-sm-6 mb-3")
                                                    input(type="password" name="password" placeholder="Password" class="form-control input_text" id="password" required) 
                                                    p.text-little#d-p
                                                div(class="col-sm-6 mb-3")
                                                    input(type="password" placeholder="Confirm Password" class="form-control input_text" id="cPassword" required)
                                                    p.text-little#d-cp
                                            input(type="text" name="address" placeholder="Address" class="form-control mb-3 input_text" id="address" required)
                                            div(class="row")
                                                div(class="col-sm-6")
                                                    input(type="text" name="state" placeholder="State" class="form-control mb-3 input_text" id="state" required) 
                                                div(class="col-sm-6") 
                                                    input(type="text" name="country" placeholder="Country" class="form-control mb-3 input_text" id="country" required)
                                            p.text-little#on-submit
                                            if error   
                                                p.text-little #{error}
                                            div
                                                span.float-left
                                                    input(type="checkbox" class="mt-4 check") 
                                                    span.pl-2.welcome_text I agree with terms and conditions
                                                p.clearfix
                                            div
                                                button(class="login_btn mb-3" type="submit" id="submit") Sign up
                                            a(href="/school" class="mt-5 text-center welcome_text") Already have an account? Sign in

                                            //- p #[a(href="#" class="text-center welcome_text") Terms of use. Privacy Policy]


                div(class="col-2")

        script(src="/javascripts/registration.js" type="module")