include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/style.css')
    body
        div(class="container-fluid")
            div(class="row")
                div(class="col-lg-6 chelcin_bg")
                div(class="col-lg-6")
                    .row
                        div(class="col-2")
                        div(class="col-8")
                            div(class="form_bg")
                                div(class="form_container")
                                    div(class="form_content2")
                                        h4 We are currently working on a fix.
                                        p You can contact an admin if you have an issue.
                                        p #{error}
                                        div(class="d-flex justify-content-between mb-5 mt-4")
                                            a(href="/school/dashboard" class="signup_btn") Dashboard
                                            a(href="/school" class="signup_btn") Log In