include includes/header.pug
block content
    link(rel='stylesheet' , href='/stylesheets/style.css')
    body
        div(class="container-fluid")
            div(class="row")
                div(class="col-lg-6 chelcin_bg")
                div(class="col-lg-6")
                    .row
                        div(class="col-2")
                        div(class="col-8")
                            div(class="form_bg")
                                div(class="form_container")
                                    div(class="form_content")
                                        p(class="chelcin_logo") Princely Success
                                        p(class="welcome_text") Enter your email and we will send you a password reset link.
                                        form(action="" class="mt-5")
                                            input(type="email" name="email" placeholder="Email" class="form-control input_text")
                                            div
                                                button(class="login_btn mt-5") Send Request

                                        a(href="#" class="fixed-b text-center welcome_text") Terms of use. Privacy Policy
                            

                    div(class="col-2")